.remove__text {
  background: none;
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
