.input {
  min-width: 200px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex: 0 1 50vw;
  height: 30px;
  margin: 12px 0;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  transition: background linear 0.27s, box-shadow linear 0ms 0.27s;
  white-space: nowrap;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  opacity: 1;
  visibility: visible;
  flex-basis: auto;
  flex-grow: 1;
  padding-left: 10px;
}

label {
  font-size: 26px;
}

.paginator__btn.btn {
  margin-top: 40px;
}
