.sound__text {
  background: none;
  color: white;
  border: none;
  /* padding: 0; */
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}
