.q {
  perspective: 150rem;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  position: relative;
  background-color: #1c1c1c;
  height: 15rem;
  transition: all 0.8s ease;
  margin: auto;
  width: 90%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  max-width: 500px;
}

.card__text {
  color: white;
}

.paginator {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.paginator__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.description__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.fade-enter {
  /* opacity: 1; */
  /* transform: rotateY(0deg); */
  transform: rotateY(85deg);
  /* transform: rotateY(3.142rad); */
  /* transition-duration: 2s; */
  /* transition-delay: 1s; */
  /* transition: all 1.8s ease; */
}
.fade-exit {
  /* opacity: 0; */
  /* opacity: 1; */
  /* transform: rotateY(360deg); */
  transform: rotateY(0deg);
  /* transition-duration: 2s; */
  /* transition-delay: 1s; */
  /* transition: all 1.8s ease; */
}
.fade-enter-active {
  /* opacity: 1; */
  /* transform: rotateY(0deg); */
  transform: rotateY(0deg);
  /* transition-duration: 2s; */
  /* transition-delay: 1s; */
  /* transition: all 1.8s ease; */
}
.fade-exit-active {
  /* opacity: 1; */
  /* opacity: 0; */

  /* transform: rotateY(360deg); */
  transform: rotateY(85deg);
  /* transform: rotateY(3.142rad); */
  transition-duration: 2s;
  /* transition-delay: 1s; */
  /* transition: all 1.8s ease; */
}
.fade-enter-active,
.fade-exit-active {
  /* transition: opacity 500ms; */
  /* transition: transform 1900ms ease; */
  transition: all 0.8s ease;
  /* transition-duration: 2s; */
  /* transition-delay: 2s; */
  /* transition: transform 4500ms; */
}
