.wraper-card {
  perspective: 150rem;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  position: relative;
  background-color: #1c1c1c;
  height: 15rem;
  transition: all 0.8s ease;
  margin: auto;
  width: 90%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  max-width: 500px;
}

.card__text {
  color: white;
}

.paginator {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.paginator__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.description__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 26px;
  font-weight: 600;
}

.fade-enter {
  transform: rotateY(85deg);
}
.fade-exit {
  transform: rotateY(0deg);
}
.fade-enter-active {
  transform: rotateY(0deg);
}
.fade-exit-active {
  transform: rotateY(85deg);
  transition-duration: 2s;
}
.fade-enter-active,
.fade-exit-active {
  transition: all 0.8s ease;
}
