@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 190px;
  height: 30px;
  background-color: #f57c00;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-height: 600px) {
  .google-btn {
    display: none;
  }
}

.google-btn .google-icon-wrapper {
  width: 40px;
  height: 100%;
  border-radius: 2px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.google-btn .google-icon {
  width: 18px;
  height: 16px;
}

.google-btn .btn-text {
  float: right;
  margin: 0 0 0 5px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.google-btn:hover {
  box-shadow: 0 0 6px green;
}

.google-btn:active {
  background: #1669f2;
}

.color {
  background-color: green;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.google-btn .text-button-green {
  margin: 13px 65px 0 0;
}

.screensaver {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(0, 0%, 100%, 0.7);
  backdrop-filter: blur(5px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

.translate {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.info__card {
  position: absolute;
  bottom: 0px;
  left: 10px;
  margin: 0;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-text {
  margin-left: 5px;
  font-family: 'Caveat', cursive;
}

.text-g {
  font-family: 'Caveat', cursive;
  font-size: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.user__modal {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.fades-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fades-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fades-exit {
  opacity: 1;
}

.fades-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
